* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #c49fe2;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    color: #4432e0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cadastroForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #4432e0;
    border-radius: 4px;
}

input[type="file"] {
    border: none;
}

button{
    padding: 10px;
    background-color: #4432e0;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.botoes {
  display: flex;
  justify-content: center; 
  gap: 10px; 
  margin-top: 20px; 
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #ffffff;
}

#nivelSatisfacao {
  accent-color: #4432e0;
  display: block;
}


#comentarios{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #4432e0;
    border-radius: 4px;
}

::placeholder{
    color: #999;
}

.tooltip {
      visibility: hidden;
      background-color: #6416bd;
      color: #fff;
      text-align: center;
      border-radius: 8px;
      padding: 10px 15px;
      position: fixed;
      top: 20px;
      right: 20px;
      z-index: 1000;
      opacity: 0;
      transition: opacity 0.4s ease, visibility 0.4s ease;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      font-family: sans-serif;
    }

.tooltip.show {
    visibility: visible;
    opacity: 1;
}